{% embed 'partials/base.html.twig' %} {% set collection = page.collection() %} {% block content %} {{ page.content }}

  <div class="pageContainer">
    <div class="page-width">
      <div id="page">
        <ul class="grid articleList">
          {% for child in collection %}
            {% if child.header.title is defined %}
              <div class="article blog">
                <time>{{ child.date|date("M jS, Y") }}</time>
                <h2><a href="{{ child.url }}">{{ child.title }}</a></h2> {{ child.summary }}
                <p>{{ child.header.bannertext }}</p>
                <a href="{{ child.url }}">
                  <div class="more"></div>
                </a>
              </div>
              <hr/>
            {% endif %}

          {% endfor %} {% if config.plugins.pagination.enabled and collection.params.pagination %} {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %} {% endif %}

        </ul>
      </div>
    </div>
  </div>

{% endblock %} {% endembed %}